{% extends "base.html" %}
{% block content %}
    <div class="profile">
        <div>Login: <span class="val">{{entry.username}}</span></div>
        <div>Full name: <span class="val">{{entry.profile.full_name}}</span></div>
        <div>Age: <span class="val">{{entry.profile.age}}</span></div>
        <div>About: <span class="val">{{entry.profile.about}}</span></div>
        <div>All posts by {{entry.username}}: <a href="{% url 'blog:author_posts' author=entry.id %}">View</a></div>
    </div>
{% endblock %}